{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="container">
            <div class="signup-form">
                <form method="post">
                    <h2 class="text-center dmSans mt-2">Edit Record</h2>

                    {{ form_start(editForm) }}

                    <div class="form-group text-center">
                        {{ form_label(editForm.firstName, 'First Name', { 'label_attr': {'class': 'form-check-label my-1'} }) }}
                        {{ form_widget(editForm.firstName) }}
                    </div>

                    <div class="form-group text-center">
                        {{ form_label(editForm.lastName, 'Last Name', { 'label_attr': {'class': 'form-check-label my-1'} }) }}
                        {{ form_widget(editForm.lastName) }}
                    </div>

                    <div class="form-group text-center">
                        {{ form_label(editForm.email, 'Email', { 'label_attr': {'class': 'form-check-label my-1'} }) }}
                        {{ form_widget(editForm.email) }}
                    </div>

                    <div class="form-group text-center">
                        {{ form_label(editForm.phoneNumber, 'Phone number', { 'label_attr': {'class': 'form-check-label my-1'} }) }}
                        {{ form_widget(editForm.phoneNumber) }}
                    </div>

                    <div class="form-group">
                        <button type="submit" name="submit" class="btn website-btn mt-2">Save</button>
                    </div>

                    {{ form_end(editForm) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}