{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="records-header">
            <h2>My personal records</h2>
            <button id="create-record-btn" class="btn" data-toggle="modal" data-target="#createRecord">
                Create record
            </button>
        </div>
        <br>

        {% if phoneBookRecords is not empty %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Person</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone number</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% set index = 1 %}
                {% for record in phoneBookRecords %}
                    <tr>
                        <th scope="row">{{ index }}</th>
                        <td>{{ record.firstName }} {{ record.lastName }}</td>
                        <td>{{ record.email }}</td>
                        <td>{{ record.phoneNumber }}</td>
                        <td>
                            <div class="record-icons">
                                <a href="#" class="share-btn" data-record="{{ record.id }}" data-toggle="modal" data-target="#editRecord"><i class="fas fa-edit"></i></a>
                                <a href="{{ path('app_share', { id: record.id }) }}"><i class="fas fa-share"></i></a>
                                <a href="#" class="delete-btn" data-record="{{ record.id }}"><i class="fas fa-trash"></i></a>
                            </div>
                        </td>

                        {% set index = index + 1 %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h4 class="no-records text-center">Currently you have no records. Create one now!</h4>
        {% endif %}
    </div>

    <div class="modal fade" id="createRecord" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            {{ include('records/forms/create.html.twig') }}
        </div>
    </div>

    <div class="modal fade" id="editRecord" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            {{ include('records/forms/edit.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('.share-btn').click(function () {
            const recordId = $(this).data('record');

            $.ajax(`/record/${recordId}`,
                {
                    dataType: 'json',
                    timeout: 2000,
                    success: function (data) {
                        $('#edit-form').attr('action', `/edit/record/${recordId}`);
                        $('input[name="firstName"]').val(data.firstName);
                        $('input[name="lastName"]').val(data.lastName);
                        $('input[name="email"]').val(data.email);
                        $('input[name="phoneNumber"]').val(data.phoneNumber);
                    },
                    error: function (errorMessage) {
                        console.error("Error: " + errorMessage);
                    }
                }
            );
        });

        $('.delete-btn').click(function (e) {
            const recordId = $(this).data('record');

            e.preventDefault();
            $(this).closest('tr').remove();

            $.ajax({
                url: `/delete/${recordId}`,
                type: 'DELETE'
            });
        });
    </script>
{% endblock %}