{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h2>Shared records</h2><br>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Shared by</th>
                <th scope="col" style="border-left: 1px solid black">Person</th>
                <th scope="col">Email</th>
                <th scope="col">Phone number</th>
            </tr>
            </thead>
            <tbody>
            {% set index = 1 %}
            {% for record in sharedPhoneBookRecords %}
                <tr>
                    <th scope="row">{{ index }}</th>
                    <td>{{ record.creator.firstName }} {{ record.creator.lastName|first }}.</td>
                    <td style="border-left: 1px solid black">{{ record.firstName }} {{ record.lastName }}</td>
                    <td>{{ record.email }}</td>
                    <td>{{ record.phoneNumber }}</td>

                    {% set index = index + 1 %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}